#root, #root>div{
  height: 100%;
}


html {
    font-size: 62.5%;
    margin: 0 ;
    padding: 0;
    height: 100vh;
  }
  
  body {

    line-height: 1.6;
    margin: 0 ;
    padding: 0;
    height: 100vh;
  }
  
  button {
    cursor: pointer;
  }
  
  button:disabled {
    cursor: default;
  }
  
  .is-active {
    font-weight: bold;
  }
  